@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');

$lightColor:#f4feed;
$medColor: #dcece0;
$mainColor: #52796f;
$darkColor: #354f52;
$darkerColor: #2f3e46;

html {
    font-family: Anuphan, sans-serif;
}

main {
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
}

nav {
    color: #fff;
    background-color: $darkColor;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    .creds {
        display: flex;
        gap: 30px;
    }
}


// Article
article {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

// Single article

.single-article {
    background-color: $medColor;
    display: flex;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;

    img {
        max-width: 100%;
        height: 100%;
    }

    h2 {
        margin: 0;
    }

    .text-content {
        text-align: center;
        padding: 10px 20px;
    }

    button {
        background-color: $darkColor;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.1s ease;

        &:hover {
            background-color: #fff;
            color: $darkColor;
        }
    }
}

.auth {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

    form {
        padding: 50px 50px;
        background-color: $medColor;
        border-bottom: 5px solid $darkColor;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .form-item {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            input {
                border: none;
                border-bottom: 1px solid $darkerColor;
                background-color: inherit;
                font-size: 20px;
                outline: none;
            }
        }

        button {
            width: fit-content;
            font-size: 20px;
            margin-top: 30px;
            border: none;
            background-color: $darkColor;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.1s ease;

            &:hover {
                background-color: #fff;
                color: $darkColor;
            }
        }
    }


}
